* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Jura", sans-serif;
    font-style: normal;
    height: 100%;
}
h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.02;
}
h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.03em;
}
h4 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.47;
}
h5 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.27;
}
span,
p {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
}
input[type="text"],
input[type="email"] {
    text-decoration: none;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 16px 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
}
input[type="text"]:focus,
input[type="email"]:focus {
    border-color: transparent;
}
.webinar-container {
    width: 100%;
    max-width: 1266px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section {
    object-fit: cover;
    background: url(images/hero-background.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 224px;
}
.hero-section .hero-container {
    display: flex;
    flex-flow: row wrap;
}
.hero-container .left-section,
.hero-container .right-section {
    width: 50%;
}
.left-section .hero-heading {
    font-weight: 700;
    font-size: 100px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 37px;
    margin-top: 121px;
}
.left-section .counter-section {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin-bottom: 33px;
}
.counter {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    gap: 5px;
}
.counter h4 {
    background: #9a6593;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 6px 12px;
}
.hero-text {
    font-family: "Manrope", sans-serif;
    color: #ffffff;
}
.hero-container .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-our-webinar {
    background: #f2f2f2;
    padding-top: 271px;
    position: relative;
    padding-bottom: 127px;
}
.learn-our-webinar h2 {
    text-align: center;
    letter-spacing: -0.04em;
    color: #8b3a80;
    margin-bottom: 86px;
}
.email-register-section {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(images/Mask.png);
    width: 100%;
    max-width: 1170px;
    background-color: #ffffff;
    box-shadow: 0px 20px 30px rgba(183, 183, 183, 0.1);
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 46px;
}
.email-register-section h3 {
    color: #8b3a80;
    margin-bottom: 45px;
}

.register-button {
    background: #eca61f;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
    padding: 15px 41px;
    border: none;
}
.register-form {
    font-family: "Manrope";
}
.register-form input {
    margin-right: 20px;
    margin-bottom: 20px;
}
form p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: rgba(0, 0, 0, 0.7);
}
form .privacy-policy {
    text-decoration-line: underline;
    color: rgba(5, 147, 252, 0.7);
}
.webinar-image-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.web-development,
.web-design,
.research-branding {
    width: calc(100% / 3 - 50px);
    margin-right: 50px;
}
.research-branding {
    margin-right: 0;
}
.webinar-image-section img {
    margin-bottom: 32px;
}
.image-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: #8b3a80;
    margin-bottom: 15px;
}
.webinar-image-section figcaption {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.7);
}

.our-awesome-speakers {
    padding: 99px 0 86px;
}
.our-awesome-speakers h2 {
    text-align: center;
    letter-spacing: -0.04em;
    color: #8b3a80;
    margin-bottom: 71px;
}

.speaker-details {
    display: flex;
    justify-content: center;
}
.speaker-details .speaker {
    text-align: center;
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
}
.speaker-details .speaker:last-child {
    margin-right: 0;
}
.speaker .image {
    position: relative;
    display: flex;
}
.speaker .image img {
    width: 100%;
}
.speaker .image::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #8b3a80;
    border-radius: 10px;
    position: absolute;
    transition: all 0.3s ease;
    z-index: -1;
}
.speaker .image:hover::before {
    transform: rotate(2.06deg);
}
.speaker .image .forground-overlay {
    content: "";
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    color: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(236, 166, 31, 0.75);
    border-radius: 10px;
    position: absolute;
    padding: 20px 20px 30px;
    visibility: hidden;
}
.forground-overlay .topic-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
    font-family: "Jura", sans-serif;
    display: block;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}
.forground-overlay .topic {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    display: block;
    margin-top: 2px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}
.speaker .image:hover .forground-overlay {
    visibility: visible;
}
.speaker .image:hover .forground-overlay .topic-label,
.speaker .image:hover .forground-overlay .topic {
    opacity: 1;
}

.speaker .speaker-name {
    font-weight: 700;
    font-size: 30px;
    line-height: 2.06;
    text-align: center;
    letter-spacing: -0.04em;
    color: #8b3a80;
}
.speaker figcaption {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 18px;
    line-height: 3.44;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
}
.our-schedule {
    background: #f2f2f2;
    padding: 99px 0 110px;
}
.our-schedule h2 {
    text-align: center;
    letter-spacing: -0.04em;
    color: #8b3a80;
    margin-bottom: 71px;
}
.schedule-tab-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}
.our-schedule .day-button {
    background: #ffffff;
    box-shadow: 0px 25px 30px rgba(183, 183, 183, 0.08);
    border-radius: 10px;
    padding: 16px 28px;
    border: none;
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #4a4a4a;
}
.day-button.active {
    background: #eca61f;
}
.our-schedule .day-button:hover {
    background: #eca61f;
}

.tab-content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.tab-content-wrapper .schedule {
    width: calc(100% / 3 - 20px);
    border-bottom: 2px solid #4a4a4a;
    margin-right: 20px;
}
.tab-content-wrapper .schedule:last-child {
    margin-right: 0;
}
.schedule img {
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
}
.schedule .schedule-name {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* text-align: center; */
    text-transform: capitalize;
    color: #ffffff;
    background: #8b3a80;
    border-radius: 100px;
    display: inline;
    padding: 3px 14px;
    margin-bottom: 20px;
}
.schedule h5 {
    margin-bottom: 51px;
}
figcaption.time-limit {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;
    text-transform: capitalize;
    color: #4a4a4a;
    margin-bottom: 39px;
}
.footer-section {
    background-image: url(images/footer-bg.png);
    padding: 110px 0;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.footer-section h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.025;
    color: #ffffff;
    margin-bottom: 38px;
}
.left-wrapper-text {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.41;
    color: #4a4a4a;
}
.footer-wrapper {
    display: flex;
    align-items: center;
}
.left-wrapper,
.right-wrapper {
    width: 50%;
}
.register-section {
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(68, 74, 82, 0.2);
    border-radius: 30px;
    padding: 40px 52px 47px 46px;
    max-width: 571px;
    position: relative;
    z-index: 1;
}
.register-section::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100% + 100px);
    background: #d69516;
    box-shadow: 0px 10px 60px rgb(17 46 41 / 6%);
    border-radius: 30px;
    z-index: -1;
}
.register-section::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(68, 74, 82, 0.2);
    border-radius: 30px;
    z-index: -1;
}
.register-section h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: #8b3a80;
    margin-bottom: 38px;
}

.register-section input,
.register-section .resgister-button {
    display: block;
    width: 100%;
}
.register-section input:first-child {
    margin-bottom: 19px;
}
.register-section .resgister-button {
    margin-top: 30px;
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.69;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: #8b3a80;
    border-radius: 10px;
    border: none;
    padding: 16px 0;
}
@media only screen and (max-width: 1299px) {
    .left-section .hero-heading {
        font-size: 80px;
        line-height: 1.1;
        margin-top: 30px;
    }
    .email-register-section {
        max-width: 1100px;
    }
    .footer-section h2 {
        font-size: 70px;
    }
}
